body {background:#353535; color:#fff; min-width: 1200px;}
.in_wrap {width:1200px; margin:0 auto;}

header h1 {height:123px; background:url(../img/hd_bg.jpg); text-align: center; padding-top:33px;}
h1 img {height:58px;}
.gnb {height:30px; background:#1e1e1e; font-size:0; text-align: center;}
.gnb li {width:152px; height:30px; display: inline-block; font-size:17px; line-height:30px;}
.gnb li a:hover {background:#feb900; color:#1e1e1e}
.gnb a {width:100%; height:100%; display: block; padding-top:1px; color:#fff; font-family: 'Do Hyeon', sans-serif;}

.main_visual {width:100%; height:470px; background-image:url(../img/mv1.jpg); background-repeat:no-repeat; background-position:top center; background-size:cover; text-align: center; padding-top:105px;}
.mv_txt1 {font-size:40px; line-height: 40px; font-family: 'Black Han Sans', sans-serif; text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.75);}
.mv_txt2 {font-size:60px; color:#feb900; margin:34px 0 80px; font-family: 'Black Han Sans', sans-serif; text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.75);}
.mv_txt3 {font-size:16px; color:#bababa; line-height:19px; letter-spacing: -0.5px}

.episode {padding:35px 0 53px;}
h4 {font-size:14px; font-weight: normal; text-align: center; margin-bottom: -5px; color:#bebebe}
h3 {font-size:35px; font-weight: normal; text-align: center; margin-bottom:30px; font-family: 'Do Hyeon', sans-serif;}
h3 span {color:#feb900; font-family: 'Do Hyeon', sans-serif;}

.store_wrap {font-size: 0; text-align: center; margin-bottom: 34px;}
.store {width:152px; color:#fff; height:36px; display: inline-block; text-align: center; font-size:16px; line-height:36px; background:#1e1e1e; font-weight: normal;}
.store_on {background:#feb900; color:#1e1e1e; font-weight: bold; }

.ep_list {text-align: center}
.ep_list:after {clear:both; display: block; content: ""}
.ep_list li {float:left; margin-right:16px;}
.ep_list li:last-child {margin:0}
.ep_list li:after {clear:both; display: block; content: ""}
.ep_list li a {color:#fff;}
.ep1 {height:282px; background: url(../img/ep1.jpg);}
.ep2 {height:282px; background: url(../img/ep2.jpg);}
.ep3 {height:282px; background: url(../img/ep3.jpg);}
.ep4 {height:282px; background: url(../img/ep4.jpg);}
h6 {padding-top:125px;font-size:18px; text-shadow: 0px 0px 5px rgba(0, 0, 0, 1); }
h5 {font-size:28px; font-family: 'Black Han Sans', sans-serif; font-weight: normal; text-shadow: 0px 0px 5px rgba(0, 0, 0, 1); }
.btn_ep {width:144px; height:37px; display: block; font-size:14px; background: #1e1e1e; line-height:37px; float:left;}
.btn_ep:hover {background:#feb900; color:#1e1e1e; font-weight: bold}

.loca {float:left; margin-right:16px;}
.location .in_wrap .loca:last-child {margin:0}
.location {height:470px; background: url(../img/gray_bg.jpg); padding:35px 0 53px;}
.loca_bg {width:592px; background:#1e1e1e; margin-top:-5px;}
.loca_title {width:144px; text-align: center; font-size:16px; color:#feb900; line-height:51px; border-bottom:1px solid #feb900; float:left;}
.loca_txt {float:left; padding:5px 0 0 18px;}
.loca_add {background:url(../img/location.png) no-repeat left center;}
.loca_tel {background:url(../img/tel.png) no-repeat left center;}
.loca_txt p {font-size:14px; color:#bcbcbc; padding-left:17px;}
.loca_bg:after {clear:both; content:""; display: block;}

footer {background:url(../img/f_line.jpg) repeat-x; padding:45px 0 25px;}
footer .in_wrap {padding-left:180px; background: url(../img/logo.png) no-repeat 0/144px}

.f_top li {float:left; font-weight: 300}
.f_top:after {clear:both; content:""; display: block;}
.f_top span {margin:0 19px}
.f_top a {color:#fff; font-size:13px;}

.f_loca {font-size:13px; margin:16px 0 18px; font-weight: 300}
.f_loca p {display: inline-block; margin-right:48px;}
.f_loca span:first-child {color:#feb900}
.f_loca span:nth-child(2) {margin-right:9px;}
.f_loca span:nth-child(3) {margin:8px;}
.f_info {font-size:11px; color:#919191; line-height:15px;}
.f_info span {margin:0 10px}